[Unit]
Description=Eclipse Kanto - Software Update
Documentation=https://eclipse.org/kanto/docs/
After=network.target mosquitto.service
Requires=network.target
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/software-update -configFile /etc/software-update/config.json
Restart=always

[Install]
WantedBy=multi-user.target